<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177828921725-v4gcmvm5gu12mc246aiik38v6mitjev1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177828921725-v4gcmvm5gu12mc246aiik38v6mitjev1</string>
	<key>API_KEY</key>
	<string>AIzaSyCeJzCdpuZxwCC8w6YJBqLEuIYJQRgz0Po</string>
	<key>GCM_SENDER_ID</key>
	<string>177828921725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewAppMedical</string>
	<key>PROJECT_ID</key>
	<string>interview-app-medical</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-app-medical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177828921725:ios:a20db9b9d1a28abf220c14</string>
</dict>
</plist>